*,
*::before,
*::after {
	box-sizing: border-box;
}
:root {
	font-family: sans-serif;
}
html {
	height: 100%;
}
body {
	min-height: 100%;
	padding: 0;
	margin: 0;
}
body {
	background-color: #966f33;
	background-image: linear-gradient(to right, transparent 95%, black 95%),
		linear-gradient(95deg, #c69c6d, #754224);
	background-repeat: repeat-x;
	background-size: 5em 100%;
	padding-top: 1em;
}
